/* #region reset rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #endregion reset rules */

/* #region colors */

:root {
  --bg-btn: #14aaf5;
  --bg-primary: #09a9ed;
  --bg-purple: #ab5de6;
  --bg-light-green: #2cc6ab;
  --bg-orange: #ff9b00;
  --bg-rose: #ec4a9d;
  --bg-green: #a3d116;
  --bg-check: #62d5c0;
  --bg-uncheck: #ff1010;
  --bg-page: #f6f8f9;
  --bg-light: #ffffff;
  --bg-text: #1e1e1e;
}

/* #endregion colors */

/* #region utilities */

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-page);
  color: #1e1e1e;
}

.container {
  width: 70%;
  height: 800px;
  background-color: var(--bg-light);
  margin: auto;
  margin-top: 5%;
  border-radius: 0.5rem;
}

.mt-40 {
  margin-top: 40px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-2 {
  margin-left: 2rem;
}

/* #endregion utilities */

/* #region header */

.logo-container {
  background-color: var(--bg-light);
  padding: 0.5rem;
}

/* #endregion header */

/* #region main */

/* Buttons section */
#buttons-section {
  border-bottom: 2px solid var(--bg-page);
}

.buttons {
  padding: 1rem 0;
}

.btn-primary {
  border-radius: 5px;
  border: 0px;
  padding: 8px 12px 8px 12px;
  background-color: var(--bg-btn);
}

.btn-secondary {
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 8px 12px 8px 12px;
  background-color: var(--bg-light);
}

/* New task section */

.check {
  border: 1px solid var(--bg-check);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  font-weight: bold;
  line-height: 15px;
  padding: 2px;
  color: var(--bg-check);
  margin-right: 5px;
}

.uncheck {
  border: 1px solid var(--bg-uncheck);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  font-weight: bold;
  line-height: 15px;
  padding: 2px;
  color: var(--bg-uncheck);
  margin-right: 5px;
}

.tags {
  background-color: var(--bg-primary);
  font-size: 12px;
  color: var(--bg-light);
  padding: 5px 10px;
  border-radius: 1rem;
}

.blue {
  background-color: var(--bg-primary);
}

.purple {
  background-color: var(--bg-purple);
}

.light-green {
  background-color: var(--bg-light-green);
}

.rose {
  background-color: var(--bg-rose);
}

.green {
  background-color: var(--bg-green);
}

.orange {
  background-color: var(--bg-orange);
}
/* #endregion main */
